<nav class="navbar navbar-default secondary" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="black-item">
                    <a>{{"T_MENU_INFOMATION"|translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form name="frmAccount" ng-controller="SAccountCtrl" class="account">
    <div>
        <table class="table table-form">
            <!-- 我的身份 -->
            <tbody>
                <tr>
                    <td colspan="2" class="title">{{"TS_ACCOUNT_MY_IDENTITY"|translate}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_REALNAME"|translate}}</td>
                    <td>
                        <input type="text" dn-form-input id="username" name="username" ng-model="user.username" ng-change="detectInput('username', 'username')" required>
                    </td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_GENDER"|translate}}</td>
                    <td>
                        <input type="radio" name="gender" id="gender0" value="0" ng-model="user.gender" /> {{"TS_ACCOUNT_GENDER_0"|translate}}
                        <input type="radio" name="gender" id="gender1" value="1" ng-model="user.gender" /> {{"TS_ACCOUNT_GENDER_1"|translate}}
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="title">{{"TS_ACCOUNT_MY_EDUCATION"|translate}}</td>
                    <td>
                        <button type="button" class="btn btn-link btn-link-blue" ng-click="eduAction('add')">{{"BT_ADD_SCHOOL"|translate}}</button>
                    </td>
                </tr>
            </tbody>
            <!-- 我的学历 - 已有 不可删除 -->
            <tbody ng-repeat="item in user.education">
                <tr>
                    <td colspan="2">{{"TS_ACCOUNT_MY_EDUCATION"|translate}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_DEGREE"|translate}}</td>
                    <td>{{item.degree|sFilter: 'degree-status'}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_SCHOOL"|translate}}</td>
                    <td>{{item.school}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_MAJOR"|translate}}</td>
                    <td>{{item.major}} {{item.profession}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_TIME_OF_STUDY"|translate}}</td>
                    <td>{{item.time|date: 'yyyy-MM'}}</td>
                </tr>
            </tbody>
            <!-- 我的学历 - 新添加可删除 -->
            <tbody ng-repeat="item in user.newedu" ng-show="!item.isEdit">
                <tr>
                    <td colspan="2">{{"TS_ACCOUNT_MY_EDUCATION"|translate}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_DEGREE"|translate}}</td>
                    <td>{{item.degree|sFilter: 'degree-status'}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_SCHOOL"|translate}}</td>
                    <td>{{item.scName}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_MAJOR"|translate}}</td>
                    <td>{{item.mjName}} {{item.proName}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_TIME_OF_STUDY"|translate}}</td>
                    <td>{{item.time|date: 'yyyy-MM'}}</td>
                </tr>
                <td colspan="2">
                    <button type="button" class="btn btn-link btn-link-blue" ng-click="eduAction('delete', item)">{{"BT_DELETE_SCHOOL"|translate}}</button>
                </td>
            </tbody>
            <tbody ng-repeat="item in user.newedu" ng-show="item.isEdit">
                <tr>
                    <td colspan="2">{{"TS_ACCOUNT_MY_EDUCATION"|translate}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_DEGREE"|translate}}</td>
                    <td>
                        <select ng-model="item.degree" ng-options="i.value as i.label for i in degrees">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_SCHOOL"|translate}}</td>
                    <td>
                        <select ng-model="item.country" ng-options="i.value as i.label for i in countries" ng-change="changeECountry(item)">
                        </select>
                        <select ng-model="item.school" ng-options="i.value as i.label for i in item.edu_school">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_MAJOR"|translate}}</td>
                    <td>
                        <select ng-model="item.major" ng-options="i.value as i.label for i in item.edu_major" ng-change="changeEMajor(item)">
                        </select>
                        <select ng-model="item.profession" ng-options="i.value as i.label for i in item.edu_profession">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_TIME_OF_STUDY"|translate}}</td>
                    <td>
                    <input type="date" format="yyyy-MM" class="form-control datepicker" ng-model="item.time" id="time{{$index}}" mz-name="time{{$index}}" ng-change="detectTime('time{{$index}}')" required>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="radio" name="graduated" id="graduated0" value="0" ng-model="item.graduated" /> {{"TS_ACCOUNT_GRADUATED_0"|translate}}
                        <input type="radio" name="graduated" id="graduated1" value="1" ng-model="item.graduated" /> {{"TS_ACCOUNT_GRADUATED_1"|translate}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btn btn-link btn-link-blue" ng-click="eduAction('delete', item)">{{"BT_DELETE_SCHOOL"|translate}}</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="eduAction('save', item)">{{"BT_SAVE"|translate}}</button>
                        <button type="button" class="btn btn-primary" ng-click="eduAction('delete', item)">{{"BT_CANCEL"|translate}}</button>
                    </td>
                </tr>
            </tbody>
            <!-- 成绩 -->
            <tbody>
                <tr>
                    <td ccolspan="2" class="title">{{"TS_ACCOUNT_ACHIEVEMENT"|translate}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" id="no_score" ng-model="user.score.no_score" /> {{"TS_ACCOUNT_NO_WAITING_EXAMINATION_"|translate}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="has_sat" ng-model="user.score.has_sat" /> {{"SAT"|translate}}
                    </td>
                    <td>
                        <input type="text" dn-form-input id="sat" name="sat" ng-model="user.score.sat" ng-change="detectScore('sat')" required ng-disabled="!user.score.has_sat"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="has_toefl" ng-model="user.score.has_toefl" /> {{"TOEFL"|translate}}
                    </td>
                    <td>
                        <input type="text" dn-form-input id="toefl" name="toefl" ng-model="user.score.toefl" ng-change="detectScore('toefl')" required ng-disabled="!user.score.has_toefl"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="has_ielts" ng-model="user.score.has_ielts" /> {{"IELTS"|translate}}
                    </td>
                    <td>
                        <input type="text" dn-form-input id="ielts" name="ielts" ng-model="user.score.ielts" ng-change="detectScore('ielts')" required  ng-disabled="!user.score.has_ielts"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="has_gre" ng-model="user.score.has_gre" /> {{"GRE"|translate}}
                    </td>
                    <td>
                        <input type="text" dn-form-input id="gre" name="gre" ng-model="user.score.gre" ng-change="detectScore('gre')" required  ng-disabled="!user.score.has_gre"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="has_gmat" ng-model="user.score.has_gmat" /> {{"GMAT"|translate}}
                    </td>
                    <td>
                        <input type="text" dn-form-input id="gmat" name="gmat" ng-model="user.score.gmat" ng-change="detectScore('gmat')" required  ng-disabled="!user.score.has_gmat"/>
                    </td>
                </tr>
            </tbody>
            <!-- 留学意向 -->
            <tbody>
                <tr>
                    <td colspan="2" class="title">{{"TS_ACCOUNT_INTENTION_OF_STUDYING_ABROAD"|translate}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_WANT_TO_APPLY"|translate}}</td>
                    <td>
                        <select ng-model="user.intention.country" ng-options="i.value as i.label for i in countries" ng-change="changeICountry()">
                        </select>
                        <select ng-model="user.intention.school" ng-options="i.value as i.label for i in intent_school">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_PROFESSIONAL_INTENTION"|translate}}</td>
                    <td>
                        <select ng-model="user.intention.major" ng-options="i.value as i.label for i in intent_major" ng-change="changeIMajor()">
                        </select>
                        <select ng-model="user.intention.profession" ng-options="i.value as i.label for i in intent_profession">
                        </select>
                    </td>
                </tr>
            </tbody>
            <!-- 我的联系方式 -->
            <tbody>
                <tr>
                    <td colspan="2" class="title">{{"TS_ACCOUNT_MY_CONTACT_WAY"|translate}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_EMAIL"|translate}}</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_PERMANENT_PLACE"|translate}}</td>
                    <td>
                        <select ng-model="user.liveplace.country" ng-options="i.value as i.label for i in countries" ng-change="changeLCountry()">
                        </select>
                        <select ng-model="user.liveplace.province" ng-options="i.value as i.label for i in liveplace_province" ng-change="changeLProvince()">
                        </select>
                        <select ng-model="user.liveplace.city" ng-options="i.value as i.label for i in liveplace_city">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_TIME_ZONE"|translate}}</td>
                    <td>{{user.liveplace.timezone}}</td>
                </tr>
            </tbody>
            <!-- 我的账户 -->
            <tbody>
                <tr>
                    <td class="title">{{"TS_ACCOUNT_MY_ACCOUNT"|translate}}</td>
                    <td>
                        <button type="button" class="btn btn-link btn-link-blue" ng-click="cardAction('add')">{{"BT_ADD"|translate}}</button>
                    </td>
                </tr>
                <tr ng-repeat="item in user.account">
                    <td ng-if="!item.isEdit && item.type == 'card'">{{"TS_ACCOUNT_BANK_CARD"|translate}}</td>
                    <td ng-if="!item.isEdit && item.type == 'alipay'">{{"TS_ACCOUNT_ALIPAY"|translate}}</td>
                    <td ng-if="item.isEdit">
                        <select ng-model="item.type" ng-options="i.value as i.label for i in selType">
                        </select>
                    </td>
                    <td>
                        <input type="text" dn-form-input id="numid{{$index}}" mz-name="numid{{$index}}" ng-model="item.numid" />
                            <button type="button" class="btn btn-link btn-link-blue" ng-click="cardAction('delete', item)">{{"BT_DELETE"|translate}}</button>
                    </td>
                </tr>
            </tbody>
            <!-- 了解渠道 -->
            <tbody>
                <tr>
                    <td colspan="2" class="title">{{"TS_ACCOUNT_UNDERSTANDING_CHANNEL"|translate}}</td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="knowway" id="knowway0" value="0" ng-model="user.knowway.way" /> {{"TS_ACCOUNT_FRIENDS_RECOMMENDED"|translate}}
                    </td>
                    <td>
                        <input type="text" dn-form-input id="way0name" name="way0name" ng-model="user.knowway.name" ng-change="detectInput('way0name', 'way0name')" required placeholder="{{'TS_ACCOUNT_NAME_OF_THE_RECOMMENDER'|translate}}" ng-disabled="user.knowway.way != 0"/>
                        <input type="text" dn-form-input id="way0mail" name="way0mail" ng-model="user.knowway.email" ng-change="detectInput('way0mail', 'way0mail')" required placeholder="{{'TS_ACCOUNT_EMAIL_OF_THE_RECOMMENDER'|translate}}" ng-disabled="user.knowway.way != 0"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="knowway" id="knowway1" value="1" ng-model="user.knowway.way" /> {{"TS_ACCOUNT_STUDENT_UNION_OR_COMMUNITY"|translate}}
                    </td>
                    <td>
                        <input type="text" dn-form-input id="way1name" name="way1name" ng-model="user.knowway.union" ng-change="detectInput('way1name', 'way1name')" required placeholder="{{'TS_ACCOUNT_STUDENT_UNION_OR_COMMUNITY'|translate}}" ng-disabled="user.knowway.way != 1"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="knowway" id="knowway2" value="2" ng-model="user.knowway.way" /> {{"TS_ACCOUNT_NETWORK"|translate}}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="knowway" id="knowway3" value="3" ng-model="user.knowway.way" /> {{"TS_ACCOUNT_OTHER"|translate}}
                    </td>
                    <td></td>
                </tr>
            </tbody>
            <!-- Button -->
            <tbody>
                <tr class="form-buttons">
                    <td>
                        <button type="button" class="btn btn-default" ng-click="submit();">{{"BT_SAVE"|translate}}</button>
                        <button type="button" class="btn btn-primary" btn-cancel data="user">{{"BT_CANCEL"|translate}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
