<nav id="student" class="navbar navbar-default secondary" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="black-item">
                    <a>{{"T_MENU_INFOMATION"|translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form name="frmAccount" ng-controller="SAccountCtrl" class="account">
    <div>
        <table class="table table-form">
            <!-- 我的身份 -->
            <tbody>
                <tr>
                    <td colspan="2" class="title">{{"TS_ACCOUNT_MY_IDENTITY"|translate}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_REALNAME"|translate}}</td>
                    <td>
                        <input type="text" mz-detect-input id="username" name="username" ng-model="uInfo.name" ng-change="detectInput('username', 'username')" required>
                    </td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_GENDER"|translate}}</td>
                    <td>
                        <input type="radio" name="gender" id="gender0" value="0" ng-model="uInfo.gender" /> {{"TS_ACCOUNT_GENDER_0"|translate}}
                        <input type="radio" name="gender" id="gender1" value="1" ng-model="uInfo.gender" /> {{"TS_ACCOUNT_GENDER_1"|translate}}
                    </td>
                </tr>
            </tbody>
            <!-- 我的学历 -->
            <tbody>
                <tr>
                    <td class="title">{{"TS_ACCOUNT_MY_EDUCATION"|translate}}</td>
                    <td>
                        <button type="button" class="btn btn-link btn-link-blue" ng-click="eduAction('add')">{{"BT_ADD_SCHOOL"|translate}}</button>
                    </td>
                </tr>
            </tbody>
            <tbody ng-repeat="item in education">
                <tr>
                    <td>{{"TS_ACCOUNT_MY_EDUCATION"|translate}}</td>
                    <td>
                        <button type="button" class="btn btn-link btn-link-blue" ng-click="eduAction('edit', item)">{{"BT_EDIT_SCHOOL"|translate}}</button>
                        <button type="button" class="btn btn-link btn-link-blue" ng-click="eduAction('delete', item)">{{"BT_DELETE_SCHOOL"|translate}}</button>
                    </td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_DEGREE"|translate}}</td>
                    <td>{{item.degree|sFilter: 'degree-status'}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_SCHOOL"|translate}}</td>
                    <td>{{item['school-string']}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_MAJOR"|translate}}</td>
                    <td>{{item['major-string']}} {{item['subMajor-string']}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_TIME_OF_STUDY"|translate}}</td>
                    <td>{{item.start|date:'yyyy-MM'}} {{"TS_ACCOUNT_TIME_TO"|translate}} {{item.end|date:'yyyy-MM'}}</td>
                </tr>
            </tbody>
            <!-- 成绩 -->
            <tbody>
                <tr>
                    <td ccolspan="2" class="title">{{"TS_ACCOUNT_ACHIEVEMENT"|translate}}</td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td>{{"SAT"|translate}}</td>
                    <td>
                        <input type="number" mz-detect-input id="sat" name="sat" ng-model="uInfo.sat" ng-change="detectInput('score', 'sat')"/>
                    </td>
                </tr>
                <tr>
                    <td>{{"TOEFL"|translate}}</td>
                    <td>
                        <input type="number" mz-detect-input id="toefl" name="toefl" ng-model="uInfo.toefl" ng-change="detectInput('score', 'toefl')"/>
                    </td>
                </tr>
                <tr>
                    <td>{{"IELTS"|translate}}</td>
                    <td>
                        <input type="number" mz-detect-input id="ielts" name="ielts" ng-model="uInfo.ielts" ng-change="detectInput('score', 'ielts')"/>
                    </td>
                </tr>
                <tr>
                    <td>{{"GRE"|translate}}</td>
                    <td>
                        <input type="number" mz-detect-input id="gre" name="gre" ng-model="uInfo.gre" ng-change="detectInput('score', 'gre')"/>
                    </td>
                </tr>
                <tr>
                    <td>{{"GMAT"|translate}}</td>
                    <td>
                        <input type="number" mz-detect-input id="gmat" name="gmat" ng-model="uInfo.gmat" ng-change="detectInput('score', 'gmat')"/>
                    </td>
                </tr>
            </tbody>
            <!-- 留学意向 -->
            <tbody>
                <tr>
                    <td class="title">{{"TS_ACCOUNT_INTENTION_OF_STUDYING_ABROAD"|translate}}</td>
                    <td>
                        <button type="button" class="btn btn-link btn-link-blue" ng-click="intentAction('add')">{{"BT_ADD"|translate}}</button>
                    </td>
                </tr>
            </tbody>
            <tbody ng-repeat="item in intention">
                <tr>
                    <td>{{"TS_ACCOUNT_INTENTION_OF_STUDYING_ABROAD"|translate}}</td>
                    <td>
                        <button type="button" class="btn btn-link btn-link-blue" ng-click="intentAction('edit', item)">{{"BT_EDIT"|translate}}</button>
                        <button type="button" class="btn btn-link btn-link-blue" ng-click="intentAction('delete', item)">{{"BT_DELETE"|translate}}</button>
                    </td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_WANT_TO_APPLY"|translate}}</td>
                    <td>{{item.school}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_PROFESSIONAL_INTENTION"|translate}}</td>
                    <td>{{item.major}} {{item.subMajor}}</td>
                </tr>
            </tbody>
            <!-- 我的联系方式 -->
            <tbody>
                <tr>
                    <td colspan="2" class="title">{{"TS_ACCOUNT_MY_CONTACT_WAY"|translate}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ACCOUNT_PERMANENT_PLACE"|translate}}</td>
                    <td>
                        <select ng-model="uInfo.province" ng-options="i.value as i.label for i in liveplace_province" ng-change="changeLProvince()">
                        </select>
                        <select ng-model="uInfo.city" ng-options="i.value as i.label for i in liveplace_city">
                        </select>
                    </td>
                </tr>
            </tbody>
            <!-- 了解渠道 -->
            <tbody>
                <tr>
                    <td colspan="2" class="title">{{"TS_ACCOUNT_UNDERSTANDING_CHANNEL"|translate}}</td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="channel" id="channel0" value="0" ng-model="uInfo.channel" /> {{"TS_ACCOUNT_FRIENDS_RECOMMENDED"|translate}}
                    </td>
                    <td>
                        <input type="text" mz-detect-input id="referrerName" name="referrerName" ng-model="uInfo.referrerName" ng-change="detectInput('referrerName', 'referrerName')" required placeholder="{{'TS_ACCOUNT_NAME_OF_THE_RECOMMENDER'|translate}}" ng-disabled="uInfo.channel != 0"/>
                    </td>
                    <td>
                        <input type="email" mz-detect-input id="referrerEmail" name="referrerEmail" ng-model="uInfo.referrerEmail" ng-change="detectInput('referrerEmail', 'referrerEmail')" required placeholder="{{'TS_ACCOUNT_EMAIL_OF_THE_RECOMMENDER'|translate}}" ng-disabled="uInfo.channel != 0"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="channel" id="channel1" value="1" ng-model="uInfo.channel" /> {{"TS_ACCOUNT_STUDENT_UNION_OR_COMMUNITY"|translate}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="channel" id="channel2" value="2" ng-model="uInfo.channel" /> {{"TS_ACCOUNT_NETWORK"|translate}}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="channel" id="channel3" value="3" ng-model="uInfo.channel" /> {{"TS_ACCOUNT_OTHER"|translate}}
                    </td>
                    <td></td>
                </tr>
            </tbody>
            <!-- Button -->
            <tbody>
                <tr class="form-buttons">
                    <td>
                        <button type="button" class="btn btn-default" ng-click="submit();">{{"BT_SAVE"|translate}}</button>
                        <button type="button" class="btn btn-primary" ng-click="cancel();">{{"BT_CANCEL"|translate}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<!-- 添加/编辑 我的学历 -->
<script  type="text/ng-template" id="eduPage">
<form name="frmAccount">
<div class="saccount">
    <h3>{{"TS_ACCOUNT_MY_EDUCATION"|translate}}</h3>
    <table>
        <tbody>
            <tr>
                <td>{{"TS_ACCOUNT_DEGREE"|translate}}</td>
                <td>
                    <select ng-model="eduItem.degree" ng-options="i.value as i.label for i in degrees">
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{"TS_ACCOUNT_SCHOOL"|translate}}</td>
                <td>
                    <select ng-model="eduItem.school" ng-options="i.value as i.label for i in edu_school">
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{"TS_ACCOUNT_MAJOR"|translate}}</td>
                <td>
                    <select ng-model="eduItem.major" ng-options="i.value as i.label for i in edu_major" ng-change="changeEMajor(eduItem)">
                    </select>
                    <select ng-model="eduItem.subMajor" ng-options="i.value as i.label for i in edu_subMajor">
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{"TS_ACCOUNT_TIME_OF_STUDY"|translate}}</td>
                <td>
                <input type="date" format="yyyy-MM" class="form-control datepicker" ng-model="eduItem.start" id="start{{$index}}" name="start{{$index}}" ng-change="detectTime('start{{$index}}')" required>
                {{"TS_ACCOUNT_TIME_TO"|translate}}
                <input type="date" format="yyyy-MM" class="form-control datepicker" ng-model="eduItem.end" id="end{{$index}}" name="end{{$index}}" ng-change="detectTime('end{{$index}}')" required ng-disabled="eduItem.graduated">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="graduated" id="graduated0" ng-model="eduItem.graduated" /> {{"TS_ACCOUNT_GRADUATED_0"|translate}}
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" ng-click="saveEdu()">{{"BT_SAVE"|translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="closeThisDialog()">{{"BT_CANCEL"|translate}}</button>
</form>
</div>
</script>

<!-- 添加/编辑 留学意向 -->
<script  type="text/ng-template" id="intentPage">
<form name="frmAccount">
<div class="saccount tiny">
    <h3>{{"TS_ACCOUNT_INTENTION_OF_STUDYING_ABROAD"|translate}}</h3>
    <table>
        <tbody>
            <tr>
                <td>{{"TS_ACCOUNT_WANT_TO_APPLY"|translate}}</td>
                <td>
                    <select ng-model="intentItem.school" ng-options="i.value as i.label for i in intent_school">
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{"TS_ACCOUNT_PROFESSIONAL_INTENTION"|translate}}</td>
                <td>
                    <select ng-model="intentItem.major" ng-options="i.value as i.label for i in intent_major" ng-change="changeIMajor()">
                    </select>
                    <select ng-model="intentItem.subMajor" ng-options="i.value as i.label for i in intent_subMajor">
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" ng-click="saveEdu()">{{"BT_SAVE"|translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="closeThisDialog()">{{"BT_CANCEL"|translate}}</button>
</form>
</div>
</script>