<div class="table-page order">
    <div class="container" ng-repeat="item in orders">
        <div class="order-title">
            <div class="left">
                {{"TS_ORDER_ID"|translate}} {{item.id}}
            </div>
            <div class="right">
                {{"TS_ORDER_TIME"|translate}} {{item.time}}
            </div>
        </div>
        <div class="order-content">
            <table class="order-table">
                <tr>
                    <th>{{"TS_ORDER_SERVICE"|translate}}</th>
                    <th>{{"TS_ORDER_NUMBER"|translate}}</th>
                    <th>{{"TS_ORDER_PRICE"|translate}}</th>
                    <th>{{"TS_ORDER_STATUS"|translate}}</th>
                </tr>
                <tr>
                    <td>{{item.service}}</td>
                    <td>{{item.num}}</td>
                    <td ng-if="item.price.status">
                        <div class="grey">
                            <del>{{item.price.old}}</del>
                        </div>
                        <div>{{item.price.current}}</div>
                        <div class="grey tiny-font">{{item.price.time}}</div>
                    </td>
                    <td ng-if="!item.price.status">
                        <div>{{item.price.current}}</div>
                        <button type="button" class="btn btn-link tiny-font" ng-click="open('price', item)">{{"TS_ORDER_MODIFY"|translate}}</button>
                    </td>
                    <td>
                        <!-- 交易ing -->
                        <div ng-if="item.status == 3 || item.status == 4">{{"TS_ORDER_STATUS_1"|translate}}</div>
                        <!-- 交易结束 -->
                        <div ng-if="item.status == 7 || item.status == 8">{{"TS_ORDER_STATUS_78"|translate}}</div>
                        <!-- 其他 -->
                        <div ng-class="{'order-status5': item.status == 5}">{{item.status|tFilter: 'order-status'|translate}}
                            <table class="order-refund-card">
                                <tr>
                                    <td>{{"TS_ORDER_REFUND_AMOUNT"|translate}}</td>
                                    <td>{{item.refund_details.refund_amount}}{{"COMMON_STR_DOLLOR"|translate}}</td>
                                </tr>
                                <tr>
                                    <td>{{"TS_ORDER_REFUND_TIME"|translate}}</td>
                                    <td>{{item.refund_details.refund_time}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: left;">
                                        <button type="button" class="btn btn-link btn-link-blue">{{"TS_ORDER_REFUND_LINK"|translate}}</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{"TS_ORDER_REFUND_REASON"|translate}}</td>
                                    <td>{{item.refund_details.refund_reason}}</td>
                                </tr>
                                <tr>
                                    <td>{{"TS_ORDER_REFUND_ILLUSTRATE"|translate}}</td>
                                    <td>{{item.refund_details.refund_illustrate}}</td>
                                </tr>
                                <tr>
                                    <td>{{"TS_ORDER_REFUND_ID"|translate}}</td>
                                    <td>{{item.refund_details.refund_id}}</td>
                                </tr>
                                <tr>
                                    <td>{{"TS_ORDER_REFUND_APPLY_TIME"|translate}}</td>
                                    <td>{{item.refund_details.apply_time}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <img src="../../images/dialog.png" class="dialog-icon">
            <div class="buyer">
                <img ng-src="{{item.buyer.images}}" alt="{{item.buyer.name}}" class="buyer-hd">
                <div class="buyer-name">{{item.buyer.name}}</div>
            </div>
        </div>
        <ul class="order-buyer-card">
            <li>
                {{item.buyer.name}}
                <img src="../../images/male-icon.png" ng-if="item.buyer.gender == '0'">
                <img src="../../images/female-icon.png" ng-if="item.buyer.gender == '1'">
            </li>
            <li>{{item.buyer.nationality}}</li>
            <li>{{item.buyer.degree}}</li>
            <li>{{item.buyer.intention}}</li>
        </ul>
    </div>
</div>
<script type="text/ng-template" id="modifyPrice">
    <form class="mz-dialog" name="frmOrder">
        <div class="ng-dialog-title">{{"TS_ORDER_PRICE_NEW"|translate}}</div>
        <div class="table-page">
            <table class="table table-form">
                <tr>
                    <td>{{"TS_ORDER_PRICE_NOW"|translate}}</td>
                    <td>{{entry.current}}</td>
                </tr>
                <tr>
                    <td>{{"TS_ORDER_PRICE_NEW"|translate}}</td>
                    <td>
                        <input type="text" mz-detect-input ng-model="entry.new_price" name="price" id="price" required ng-change="detectInput('price')">
                    </td>
                </tr>
                <tr>
                    <td>{{"TS_ORDER_REASON"|translate}}</td>
                    <td>
                        <textarea mz-detect-input ng-model="entry.reason" name="reason" id="reason" required ng-change="detectInput('reason')"></textarea>
                    </td>
                </tr>
            </table>
            <div class="page-button">
                <div>
                    <button type="button" class="btn btn-default" ng-click="submit();" ng-disabled="frmOrder.$invalid">{{"BT_SAVE"|translate}}</button>
                    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">{{"BT_CANCEL"|translate}}</button>
                </div>
            </div>
        </div>
    </form>
</script>