<div class="student-body">
    <!-- Header -->
    <header>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><img src="../images/logo.png" class="logo" alt="logo"></li>
                    <li><a class="direct" ui-sref="home">{{"HEAD_HOME"|translate}}</a></li>
                    <li><a class="direct" ui-sref="student.search">{{"HEAD_SEARCH_CONSULTANT"|translate}}</a></li>
                    <li><a class="direct" ui-sref="student.class">{{"HEAD_CLASS"|translate}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right dropdown-list-link">
                    <li>
                        <a>{{user.name}}</a>
                        <ul class="dropdown-list">
                            <li ng-repeat="item in menus">
                                <a ui-sref="{{item.link}}">{{ item.i18n | translate }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Content -->
    <div id="student" class="main-content">
        <div ui-view="viewT"></div>
    </div>
</div>
