<nav class="navbar navbar-default secondary" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="black-item">
                    <a>{{"T_MENU_WALLET"|translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="table-page">
    <table class="table">
        <tr ng-repeat="cItem in content">
            <th>{{cItem.title | translate}}</th>
            <th>{{cItem.value}}</th>
        </tr>
    </table>
</div>
