<table>
    <tr>
        <td>{{"T_ACCOUNT_BASE_INFO"|translate}}</td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_USERNAME"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.username">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.username">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_EMAILADDR"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.email">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.email">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_REALNAME"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.realname">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.realname">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_GENDER"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.gender">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.gender">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_NATIONALITY"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.nationality">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.nationality">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_IDNUM"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.idnum">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.idnum">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_BIRTHDAY"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.birthday">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.birthday">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_EDU_STATUS"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.edustatus">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.edustatus">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_DEGREE"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.degree">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.degree">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_LIVEPLACE"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.liveplace">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.liveplace">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"T_ACCOUNT_HOW_TO_KNOW"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.howknow">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.howknow">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="txtL1">{{"我的证件"|translate}}</td>
        <td>
            <input icheck type="text" ng-model="teacher.howknow">
        </td>
        <td>
            <select value dropkick ng-model="teacher.status.howknow">
                <option value="0">{{"T_ACCOUNT_STATUS_PRIVATE"|translate}}</option>
                <option value="1">{{"T_ACCOUNT_STATUS_PUBLIC"|translate}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit" class="btn btn-primary">{{"COMMON_STR_SAVE"|translate}}</button>
        </td>
    </tr>
</table>
