<div class="calendar table-page">
    <calendar-title></calendar-title>
    <!-- showTitle
	    <div class="title row">
	        <div class="month col-xs-1 col-sm-1 col-md-1 col-lg-1">03</div>
	        <div class="word col-xs-6 col-sm-6 col-md-6 col-lg-6">
	            <div>2016</div>
	            <div>农历啊哦吧哦年</div>
	            <div>March</div>
	        </div>
	    </div>
    <table calendar-table></table>
    -->
    <table class="content">
        <tr>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
            <th>日</th>
        </tr>
        <tr style="height: 28px"></tr>
        <tr>
            <td> </td>
            <td> </td>
            <td>
                <div class="day" calendar-event>1
                    <div class='lunar'>廿六</div>
                    <div class="event">
                        <div class="arrow"></div>
                        <h3>{{"T_CALENDAR_NEW"|translate}}</h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td>{{"T_CALENDAR_BEGIN"|translate}}</td>
                                    <td>
                                        <input type="text" class="form-control" id="begin" data-picker>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{"T_CALENDAR_END"|translate}}</td>
                                    <td>
                                        <input type="text" class="form-control" id="end">
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{"T_CALENDAR_WAY"|translate}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="way" id="way0" value="0"> {{"T_CALENDAR_EXPIRE"|translate}}
                                            </label>
                                            <label>
                                                <input type="radio" name="way" id="way1" value="1"> {{"T_CALENDAR_ADVANCE"|translate}}
                                            </label>
                                            <input type="text" class="form-control" id="way1value">
                                            <label>{{"T_CALENDAR_DAY"|translate}}</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="way" id="way2" value="2"> {{"T_CALENDAR_MESSAGE"|translate}}
                                            </label>
                                            <label>
                                                <input type="radio" name="way" id="way3" value="3"> {{"T_CALENDAR_EMAIL"|translate}}
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-success" ng-click="submit()">{{"BT_ADD"|translate}}</button>
                        <button type="button" class="btn btn-primary" btn-cancel data="teacher">{{"BT_CANCEL"|translate}}</button>
                    </div>
                </div>
            </td>
            <td>
                <div>2
                    <div class='lunar'>廿七</div>
                </div>
            </td>
            <td>
                <div>3
                    <div class='lunar'>廿八</div>
                </div>
            </td>
            <td>
                <div>4
                    <div class='lunar'>廿九</div>
                </div>
            </td>
            <td>
                <div>5
                    <div class='lunar'>初一</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>6
                    <div class='lunar'>初二</div>
                </div>
            </td>
            <td>
                <div>7
                    <div class='lunar'>初三</div>
                </div>
            </td>
            <td>
                <div>8
                    <div class='lunar'>初四</div>
                </div>
            </td>
            <td>
                <div>9
                    <div class='lunar'>初五</div>
                </div>
            </td>
            <td>
                <div>10
                    <div class='lunar'>初六</div>
                </div>
            </td>
            <td>
                <div>11
                    <div class='lunar'>初七</div>
                </div>
            </td>
            <td>
                <div>12
                    <div class='lunar'>初八</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>13
                    <div class='lunar'>初九</div>
                </div>
            </td>
            <td>
                <div>14
                    <div class='lunar'>初十</div>
                </div>
            </td>
            <td>
                <div>15
                    <div class='lunar'>十一</div>
                </div>
            </td>
            <td>
                <div>16
                    <div class='lunar'>十二</div>
                </div>
            </td>
            <td>
                <div>17
                    <div class='lunar'>十三</div>
                </div>
            </td>
            <td>
                <div>18
                    <div class='lunar'>十四</div>
                </div>
            </td>
            <td>
                <div>19
                    <div class='lunar'>十五</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>20
                    <div class='lunar'>十六</div>
                </div>
            </td>
            <td>
                <div>21
                    <div class='lunar'>十七</div>
                </div>
            </td>
            <td>
                <div>22
                    <div class='lunar'>十八</div>
                </div>
            </td>
            <td>
                <div>23
                    <div class='lunar'>十九</div>
                </div>
            </td>
            <td>
                <div>24
                    <div class='lunar'>二十</div>
                </div>
            </td>
            <td>
                <div>25
                    <div class='lunar'>廿一</div>
                </div>
            </td>
            <td>
                <div>26
                    <div class='lunar'>廿二</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>27
                    <div class='lunar'>廿三</div>
                </div>
            </td>
            <td>
                <div>28
                    <div class='lunar'>廿四</div>
                </div>
            </td>
            <td>
                <div>29
                    <div class='lunar'>廿五</div>
                </div>
            </td>
            <td>
                <div>30
                    <div class='lunar'>廿六</div>
                </div>
            </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </table>
</div>
