<div class="table-page order">
    <div class="container" ng-repeat="item in orders">
        <div class="order-title">
            <div class="left">
                {{"T_ORDER_ID"|translate}} {{item.id}}
            </div>
            <div class="right">
                {{"T_ORDER_TIME"|translate}} {{item.time}}
            </div>
        </div>
        <div class="order-content">
            <table>
                <thead>
                <tr>
                    <th>{{"T_ORDER_SERVICE"|translate}}</th>
                    <th>{{"T_ORDER_NUMBER"|translate}}</th>
                    <th>{{"T_ORDER_PRICE"|translate}}</th>
                    <th>{{"T_ORDER_STATUS"|translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{item.service}}</td>
                    <td>{{item.num}}</td>
                    <td ng-if="item.price.status">
                        <div class="grey">
                            <del>{{item.price.old}}</del>
                        </div>
                        <div>{{item.price.current}}</div>
                        <div class="grey tiny-font">{{item.price.time}}</div>
                    </td>
                    <td ng-if="!item.price.status">
                        <div>{{item.price.current}}</div>
                        <button type="button" class="btn btn-link tiny-font" ng-click="open('price', item)">{{"T_ORDER_MODIFY"|translate}}</button>
                    </td>
                    <td>
                        <div ng-if="item.status == 3 || item.status == 4">{{"T_ORDER_STATUS_1"|translate}}</div>
                        <div ng-if="item.status == 7 || item.status == 8">{{"T_ORDER_STATUS_78"|translate}}</div>
                        <div>{{item.status|tFilter: 'order-status'|translate}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <img src="../../images/dialog.png" class="dialog">
            <div class="buyer">
                <img ng-src="{{item.buyer.images}}" alt="{{item.buyer.name}}" class="buyer-hd">
                <div class="buyer-name">{{item.buyer.name}}</div>
            </div>
        </div>
        <ul class="order-buyer-card">
            <li>
                {{item.buyer.name}}
                <img src="../../images/male-icon.png" ng-if="item.buyer.gender == '0'">
                <img src="../../images/female-icon.png" ng-if="item.buyer.gender == '1'">
            </li>
            <li>{{item.buyer.nationality}}</li>
            <li>{{item.buyer.degree}}</li>
            <li>{{item.buyer.intention}}</li>
        </ul>
    </div>
    <script type="text/ng-template" id="modifyPrice">
        <div class="ngdialog-message">
            <div class="ngdialog-head">{{"T_ORDER_PRICE_NEW"|translate}}</div>
            <div class="ngdialog-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            {{"T_ORDER_PRICE_NOW"|translate}}
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {{ngDialogData.price.current}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            {{"T_ORDER_PRICE_NEW"|translate}}
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" ng-model="item.new">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            {{"T_ORDER_REASON"|translate}}
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" ng-model="item.reason">
                        </div>
                    </div>
                </form>
            </div>
            <div class="ngdialog-buttons">
                <input type="button" class="btn primary" ng-click="closeThisDialog();" value="{{_L.BT_SAVE}}" />
            </div>
        </div>
    </script>
</div>
