<form name="frmSecurity" class="table-form">
    <table class="table">
        <tr>
            <th colspan="2">{{"T_SECURITY_INFO"|translate}}</th>
        </tr>
        <tr>
            <td>{{"T_SECURITY_OLD_PASSWORD"|translate}}</td>
            <td>
                <input mz-detect-input type="text" class="form-control" id="oldpwd" name="oldpwd" ng-model="teacher.oldpwd" ng-change="detectInput('oldpwd', 0)" required>
            </td>
        </tr>
        <tr>
            <td>{{"T_SECURITY_NEW_PASSWORD"|translate}}</td>
            <td>
                <input mz-detect-input type="text" class="form-control" id="password" name="password" ng-model="teacher.password" ng-change="detectInput('password', 1)" ng-pattern="/^(?![^a-zA-Z]+$)(?!\D+$).{6,}$/" required>
            </td>
        </tr>
        <tr>
            <td>{{"T_SECURITY_CONFIRM_PWD"|translate}}</td>
            <td>
                <input mz-detect-input type="text" class="form-control" id="confirm" name="confirm" ng-model="teacher.confirm" ng-change="detectInput('confirm', 2)" required>
            </td>
        </tr>
        <tr class="form-buttons">
            <td>
                <button type="button" class="btn btn-default" ng-click="submitForm()" ng-disabled="frmSecurity.$invalid">{{"BT_SAVE"|translate}}</button>
                <button type="button" class="btn btn-default" btn-cancel data="teacher">{{"BT_CANCEL"|translate}}</button>
            </td>
        </tr>
    </table>
</form>