<table>
    <caption>table title and/or explanatory text</caption>
    <thead>
        <tr>
            <th>header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="txtL1">{{"T_SECURITY_MOBILE"|translate}}</td>
            <td>
                <input type="text" ng-model="teacher.mobile">
            </td>
            <td>
                <select ng-model="teacher.status.mobile">
                    <option value="0">{{"T_STATUS_PRIVATE"|translate}}</option>
                    <option value="1">{{"T_STATUS_PUBLIC"|translate}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="txtL1">{{"T_SECURITY_APP_CARD"|translate}}</td>
            <td>
                <input type="text" ng-model="teacher.appcard">
            </td>
            <td>
                <select ng-model="teacher.status.appcard">
                    <option value="0">{{"T_STATUS_PRIVATE"|translate}}</option>
                    <option value="1">{{"T_STATUS_PUBLIC"|translate}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="txtL0">{{"T_SECURITY_MODIFY_PASSWORD"|translate}}</td>
        </tr>
        <tr>
            <td class="txtL1">{{"T_SECURITY_OLD_PASSWORD"|translate}}</td>
            <td>
                <input type="text" ng-model="teacher.old_password">
            </td>
            <td>
                <select ng-model="teacher.status.old_password">
                    <option value="0">{{"T_STATUS_PRIVATE"|translate}}</option>
                    <option value="1">{{"T_STATUS_PUBLIC"|translate}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="txtL1">{{"T_SECURITY_NEW_PASSWORD"|translate}}</td>
            <td>
                <input type="text" ng-model="teacher.password">
            </td>
            <td>
                <select ng-model="teacher.status.password">
                    <option value="0">{{"T_STATUS_PRIVATE"|translate}}</option>
                    <option value="1">{{"T_STATUS_PUBLIC"|translate}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary">{{"T_SECURITY_SAVE_CHANGE"|translate}}</button>
            </td>
        </tr>
    </tbody>
</table>
