<div class="mz-col-lg-3">
	<img ng-src="{{user.images}}" alt="{{user.name}}">
	<button type="button">{{"T_INFO_PORTRAIT"|translate}}</button>
</div>
<div class="mz-col-lg-3">
	{{"T_INFO_TITLE_1"|translate}}
	{{user.name}}
	{{user.level}}
	{{user.joinTime}} {{"T_INFO_CERTIFIED"|translate}}
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	{{"T_INFO_TITLE_2"|translate}}
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	{{"T_INFO_TITLE_2"|translate}}
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	{{"T_INFO_TITLE_2"|translate}}
	{{user.follower}} {{"T_INFO_FOLLOWER"|translate}}
	{{user.score}} {{"T_INFO_SCORE"|translate}}
	{{user.share}}
</div>