$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* global variables */
// font size
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 22px;
$font-size-xl: 32px;
// color
$color-green: #7bc005;
$color-blue: #26b6db;
$color-black: #000000;
$color-grey: #999999;
$color-lightgrey: #f0f0f0;
// layout
$inner-width: 1140px;
$header-height: 80px;
$footer-height: 90px;
$split-left-width: 300px;
$split-right-width: $inner-width - $split-left-width + 30px;
// $footer-height: 250px;

/* base css stylesheet */
.top-teacher {
    border-top: 5px solid $color-green !important;
}
.top-student {
    border-top: 5px solid $color-blue;
}
.bg-teacher {
    background-color: $color-green !important;
}
.bg-student {
    background-color: $color-blue;
}
.color-teacher {
    color: $color-green !important;
}
.color-student {
    color: $color-blue;
}
// .href-teacher {
//     color: $color-green;
// }

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
    min-width: $inner-width;
    font-family: 'Hiragino Sans GB', "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    body {
      font-family: Helvetica, Arial, sans-serif;
        background: url('../images/bg_grey.png') repeat;
        position: relative;
        width: 100%;
        min-height: 100%;
    }
}

.layout-inner {
    width: $inner-width;
    margin-left: auto;
    margin-right: auto;
}

#main-content>.layout-inner {
    margin-top: 20px;
    margin-bottom: 20px;
}

.align-center {
    text-align: center;
}

.align-r {
    float: right;
}

.text-r {
    text-align: right;
}

.breadcrumb {
    background-color: inherit;
}

#header {
    background-color: white;
    .header-inner {
        width: $inner-width;
        margin: 0 auto;
        .logo {
            margin: 15px 0;
            img {
                height: 65px;
                max-width: 100%;
            }
        }
        .menu {
            margin-top: 50px;
            // text-align: center;
            .h-item {
                width: auto;
                a {
                    font-size: $font-size-lg;
                    color: $color-black;
                    font-weight: bold;
                    text-decoration: none;
                    // &:hover {
                    //     color: $color-grey;
                    // }
                }
            }
        }
    }
}

#header2 {
    .status-bar {
        background-color: $color-blue;
        padding: 0.8em 0;
        .st-item {
            width: auto;
            padding: 0;
            color: white;
            text-decoration: none;
            margin: 0 5px;
            .dropdown-toggle {
                cursor: pointer;
            }
        }
    }
    .nav-bar {
        background-color: white;
        padding: 0.3em 0;
        .logo {
            margin: 15px 0;
            img {
                height: 65px;
                max-width: 100%;
            }
        }
        .menu {
            margin-top: 50px;
            // text-align: center;
            .h-item {
                width: auto;
                a {
                    font-size: $font-size-lg;
                    color: $color-black;
                    font-weight: bold;
                    text-decoration: none;
                    // &:hover {
                    //     color: $color-grey;
                    // }
                }
            }
        }
        .search-area {
            margin-top: 48px;
            border: 1px solid $color-grey;
            border-radius: 4px;
            padding: 4px 8px;
            input {
                border: none;
            }
        }
    }
}

.breadcrumb {
    margin-top: 20px;
    margin-bottom: 0;
    li>a {
        color: $color-grey;
    }
}

#main-content {
    padding-bottom: $footer-height;
}

#footer {
    background-color: white;
    // border-top: 3px solid $color-blue;
    position: absolute;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    .footer-inner {
        width: $inner-width;
        margin: 0 auto;
        .guides {
            height: 160px;
            padding: 20px 30px;
            margin: 0;
            border-bottom: 1px #eeeeee solid;
            .guide {
                height: 100%;
                border-right: 1px #eeeeee solid;
                &.no-border {
                    border-right: inherit;
                }
                .guide-inner {
                    width: 70%;
                    margin: 0 auto;
                    padding-top: 25px;
                    .icon {
                        padding: 0;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .text {
                        padding-right: 0;
                        h3 {
                            font-size: $font-size-md;
                            margin-top: 0;
                            font-weight: bold;
                        }
                        p {
                            font-size: $font-size-xs;
                        }
                    }
                }
            }
        }
        .base-info {
          margin: 20px 0 0;
          font-size: $font-size-xs;
            p {
                // color: $color-grey;
                a {
                    // color: $color-grey;
                    color: black;
                }
            }
        }
    }
}

#footer>p{
    color: #d6d4d5;
    font-size: 12px;
    text-align: center;
    margin: 30px auto 10px auto;
}

//split-layout
.split-layout {
    .split-left {
        width: $split-left-width;
    }
    .split-right {
        width: $split-right-width;
    }
    .p-normal {
        margin-top: 1.2em;
        margin-bottom: 0.5em;
        color: $color-grey;
    }
    .p-stress {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        color: $color-black;
    }
    .sep {
        height: 1px;
        width: 100%;
        background-color: $color-grey;
    }
}
// card
.card {
    &.selected {
        background-color: $color-lightgrey;
    }
    background-color: white;
    padding: 5px 15px 10px 15px;
}
.card-top {
    @extend .top-student;
    @extend .card;
}

// login
.login-inner {
    margin: 100px auto 0 auto;
    width: 1000px;
    .img-wrapper {
        width: auto;
        margin-right: 50px;
        img {
            width: 401px;
            height: 354px;
        }
        p {
            font-weight: bold;
            font-size: $font-size-md;
            margin-left: 150px;
        }
    }
    .form-wrapper {
        width: 370px;
        height: 340px;
        margin-top: 25px;
        background-color: white;
        padding: 10px 20px;
        h2 {
            font-weight: bold;
            font-size: $font-size-lg;
            text-align: center;
        }
        form {
            margin-top: 20px;
            .control-label {
                font-weight: normal;
            }
            .code {
                height: 100%;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .btns {
            height: 35px;
            font-size: $font-size-md;
            padding-left: 16px;
            a {
                text-decoration: underline;
                line-height: 50px;
            }
            button {
                font-size: $font-size-md;
                width: 100%;
                font-weight: bold;
            }
        }
    }
}

.layout-inner {
    .title {
        font-size: $font-size-xl;
        font-weight: bold;
        text-align: center;
    }
    .subtitle {
        font-size: $font-size-sm;
        text-align: center;
        margin-bottom: 2em;
    }
}

.white-container {
    width: 100%;
    background-color: white;
    // margin-top: 30px;
    padding: 50px 10px;
    button {
        width: 100%;
    }
    .btn-wrap {
        padding: 0;
    }
    .btns {
        margin-top: 35px;
        button {
            float: right;
            width: 100px;
        }
        .btn-inline {
            margin-left: 35px;
        }
    }
}

.transparent-container {
    width: 100%;
    background-color: inherit;
    margin-top: 30px;
}

// register
.select-btn {
    border-radius: 60px;
    border-bottom: 2px solid $color-grey;
    padding: 80px 0 40px 0;
    cursor: pointer;
    margin-top: 50px;
    text-align: center;
    img {
        width: 105px;
        height: 125px;
    }
    h1 {
        color: white;
    }
}
.white-container>.form-horizontal {
    width: 600px;
    margin: 0 auto;
    padding-left: 40px;
}
#active-email-btn {
    height: 40px;
    width: 200px;
}

// order
.order-thumb {
    .p-stress {
        vertical-align: bottom;
        img {
            width: 40px;
            height: 40px;
        }
    }
}

