<div class="user-body">
    <div class="main-content">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <img src="../images/logo.png" class="logo" alt="logo" width="180px" height="60px" ui-sref="/index">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="login">{{"HEAD_LOGIN"|translate}}</a></li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <img src="../images/user/slogan.png" alt="slogan" class="slogan" width="996px" height="62.3px">
            <img src="../images/user/play.png" alt="play" class="play" width="180px" height="180px">
            <div class="button-group">
                <button type="button" class="btn btn-info"><a ui-sref="register({type:2})">{{"HOME_REGISTER_1"|translate}}</a></button>
                <button type="button" class="btn btn-success"><a ui-sref="register({type:1})">{{"HOME_REGISTER_2"|translate}}</a></button>
            </div>
        </div>
    </div>
</div>
