<div class="register">
    <div class="register-container">
        <img src="../images/main/slogan.png" alt="slogan" class="slogan">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <form name="frmLogin" class="form-horizontal">
                    <div class="form-group title">
                        <h1 ng-if="$state.params.type == '0'">{{"REGISTER_HEADER_1"|translate}}</h1>
                        <p ng-if="$state.params.type == '0'">{{"REGISTER_INFO_1"|translate}}</p>
                        <h1 ng-if="$state.params.type == '1'">{{"REGISTER_HEADER_2"|translate}}</h1>
                        <p ng-if="$state.params.type == '1'">{{"REGISTER_INFO_2"|translate}}</p>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            <input type="email" mz-detect-input2 mz-detect-offset="1" class="form-control" id="email" name="email" ng-model="user.email" placeholder="{{'LOGIN_EMAIL'|translate}}" required ng-change="detectEmail('email')">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" mz-detect-input2 mz-detect-offset="1" class="form-control" id="password" name="password" ng-model="user.password" placeholder="{{'LOGIN_PASSWORD'|translate}}" required ng-change="detectPwd('password')">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="checkpolicy">{{"REGISTER_POLICY"|translate}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" ng-class="{'btn-success': $state.params.type == '0', 'btn-info': $state.params.type == '1'}" class="btn btn-default" ng-click="register()" ng-disabled="frmLogin.$invalid || !checkpolicy ">{{"BT_LOGIN"|translate}}</button>
                        <button type="button" ng-class="{'btn-success': $state.params.type == '0', 'btn-info': $state.params.type == '1'}" class="btn btn-default" ng-click="register()" ng-disabled="frmLogin.$invalid || !checkpolicy ">{{"BT_REGISTER"|translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
