<div class="row layout-inner">
    <h1 class="title">加入申请大师大家庭，未来不再只是一个梦</h1>
    <h4 class="subtitle">无论你是想留学，还是想发挥自己的才能助人留学，申请大师都是最好的平台</h4>
    <div class="row transparent-container" style="padding-left: 90px; padding-right: 90px">
        <div class="col-xs-6">
            <div class="select-btn bg-student" ng-click="navTo('register/applicant')">
                <img src="images/xiaoren.png" alt="">
                <h1>我想申请留学</h1>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="select-btn bg-teacher" ng-click="navTo('register/teacher')">
                <img src="images/jiangpai.png" alt="">
                <h1>我是留学顾问</h1>
            </div>
        </div>
    </div>
</div>

