<div id="footer">
    <div class="mz-container">
        <div class="footer-top">
            <img src="../images/qrcode.png" alt="qr-code">
            <ul>
                <li>{{"FOOTER_LI_1"|translate}}</li>
                <li><a href="">{{"FOOTER_LI_1_1"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_1_2"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_1_3"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_1_4"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_1_5"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_1_6"|translate}}</a></li>
            </ul>
            <ul class="item2">
                <li>{{"FOOTER_LI_2"|translate}}</li>
                <li><a href="">{{"FOOTER_LI_2_1"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_2_2"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_2_3"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_2_4"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_2_5"|translate}}</a></li>
            </ul>
            <ul>
                <li>{{"FOOTER_LI_3"|translate}}</li>
                <li><a href="">{{"FOOTER_LI_3_1"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_3_2"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_3_3"|translate}}</a></li>
                <li><a href="">{{"FOOTER_LI_3_4"|translate}}</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>
                <a href="#">{{"FOOTER_ABOUT"|translate}}</a>
                <a href="#">{{"FOOTER_FRIEND"|translate}}</a>
                <a href="#">{{"FOOTER_CONTACT"|translate}}</a>
                <a href="#">{{"FOOTER_HR"|translate}}</a>
                <a href="#">{{"FOOTER_MAP"|translate}}</a>
                <a href="#">{{"FOOTER_LAW"|translate}}</a>
                <span class="right">&#169;{{"FOOTER_COPYRIGHT"|translate}}</span>
            </p>
            <p>
                <span>{{"FOOTER_LICENCE_1"|translate}}</span>
                <span>{{"FOOTER_LICENCE_2"|translate}}</span>
                <span>{{"FOOTER_LICENCE_3"|translate}}</span>
            </p>
        </div>
    </div>
</div>
