<!-- teacher -->
<nav class="navbar navbar-default navbar-static-top header" role="navigation" ng-if="user.type == 1">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><img src="../images/logo.png" class="logo" alt="logo"></li>
            <li><a ui-sref="home">{{"HEAD_HOME"|translate}}</a></li>
            <li><a ui-sref="teacher.community">{{"HEAD_COMMUNITY"|translate}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home">{{user.name}}</a></li>
            <!-- <li><a ui-sref="/logout">{{"HEAD_LOGOUT"|translate}}</a></li> -->
        </ul>
    </div>
</nav>
<!-- student -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" ng-if="user.type == 2">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><img src="../images/logo.png" class="logo" alt="logo"></li>
            <li><a ui-sref="home">{{"HEAD_HOME"|translate}}</a></li>
            <li><a ui-sref="student.search">{{"HEAD_SEARCH_CONSULTANT"|translate}}</a></li>
            <li><a ui-sref="student.class">{{"HEAD_CLASS"|translate}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown-list-link">
                <a ui-sref="home">{{user.name}}</a>
                <ul class="dropdown-list">
                    <li ng-repeat="item in menus">
                        <a ui-sref="{{item.link}}">{{ item.i18n | translate }}</a>
                    </li>
                </ul>
            </li>
            <!-- <li><a ui-sref="/logout">{{"HEAD_LOGOUT"|translate}}</a></li> -->
        </ul>
    </div>
</nav>
